@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 style="margin-top: 100px; color: azure;">Live Show</h1>
    <h3 style="color: azure; margin-top:50px;"> Register now to be up to date with all the shows that your favorite singers create.</h3>
</div>
