@model LiveShow.Services.Models.Show.ShowDto;

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_LayoutArtist.cshtml";
}

<h4 style="text-align:center; color:azure; margin-top:70px">Update Show</h4>
<hr />
<div class="row justify-content-center">
    <div class="jumbotron">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label text-dark">Date time</label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label text-dark"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="button-form" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
